<web-app 
    version="3.1" 
    xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
    	<param-name>javax.faces.PROJECT_STAGE</param-name>
    	<param-value>Development</param-value>
	</context-param>
    <error-page>
    	<location>/error.html</location>
    </error-page>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Private pages</web-resource-name>
			<url-pattern>/rest/vocabularies/*</url-pattern>
			<http-method>GET</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>viewer</role-name>
			<role-name>updater</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Private pages</web-resource-name>
			<url-pattern>/rest/vocabularies/*</url-pattern>
			<http-method>POST</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>updater</role-name>
		</auth-constraint>
	</security-constraint>
    <!-- session-config>
	    <cookie-config>
	      <max-age>100</max-age>
	    </cookie-config>
 	</session-config -->    
</web-app>